<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Your order has been placed, Thank you for your order!</h4>
  </div>

  <h3>Order summary of : <%= @order.email %> </h3>

  <div class="panel panel-default items">
  <table class="table table-bordered">
  <%= render 'item' %>
  </table>
</div>




  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
