<h1>About us</h1>
<br>
<h4>We are an e-commerce based company selling random & interesting products in Canada! Our company  was found in 2021 by <i>Anthony Kim</i>. People love our products and we are sure you will too !</h4>
<br>
<h4>Happy Shopping 😄</h4>
<br><br><br><br>

<h2>Staff</h2>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Position</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Anthony</td>
      <td>Kim</td>
      <td>Founder, Owner, CEO</td>
    </tr>
    <tr>
      <td>Tony</td>
      <td>Stark</td>
      <td>Chief of Cyber Security Department</td>
    </tr>
    <tr>
      <td>Garfield</td>
      <td>lasagna</td>
      <td>Fat cat</td>
    </tr>
  </tbody>
</table>
